
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px;
}
p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}
body{
  width: 100%;
  background: white;
}
.header{
  overflow: hidden;
  background: -webkit-linear-gradient(left, #2980b9, #8e44ad);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 1100;
  width: 100%;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
nav li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
nav li a:hover, nav li a.active{
  color: white;
}
nav li a.active::after, nav li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #2691d9;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
.container{
  /* max-width: 1300px; */
  
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/* .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3ACFA;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
nav{
  display:flex;
  align-items: center;
  justify-content: center;
}
nav li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
nav li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
nav li a:hover, #navbar li a.active{
  color: #2980b9;
}
nav li a.active::after, #navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #2691d9;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  /* flex-basis: 50%; */
  min-width: 600px; 
  padding-top: 100px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #2691d9;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  padding: 8px 30px;
  margin: 30px 0;
  transition: background 0.5s;
}
.tag {
  display: inline-block;
  background: #2691d9;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  margin: 30px;
  transition: background 0.5s;
}
.right {
  align-items: right;
}
.btn:hover{
  background: #8e44ad;
}
.row{
  /* background: #f6e9fc; */
  max-width: 2160px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  margin-top: 70px;
  margin-bottom: 100px;
}
.col-3 img{
  width: 100%;
}

.small-container{
  max-width: 1440px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  width: 400px;
  margin-bottom: 50px;
  margin-top: 100px;
  transition: transform 0.5s;
}
.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: skyblue;
  text-align: center;
  cursor: pointer;
  width: 73%;
  font-size: 16px;
  border-radius: 30px;
}

.button:hover {
  opacity: 0.8;
}
.col-4 img{
  width: 200%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #2691d9;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.rating .fa{
  color: #8e44ad;
}
.col-4:hover{
  transform: translateY(-5px);
}
.offer{
  background: #f6e9fc;
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #555;
}
/* ---------------Testimonials-------------- */
.testimonials{
  padding-top: 100px;
}
.testimonials .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonials .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonials .col-3:hover{
  transform: translateY(-10px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #2691d9;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonials .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/* ---------------Brands-------------- */
.brands{
  margin: 100px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  /* filter: grayscale(100%); */
  transition: transform 0.5s;
}
.col-5 img:hover{
  filter: grayscale(0%);
}
/* ---------------Footer-------------- */
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  /* width: 180px; */
  height: 50px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
}
/* -----------media query for menu------------- */
@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}
/* -----------media query for less than 600 screen size------------- */
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
}
